In [1]:
#importing necessary libraries to read in data
import pandas as pd
cases = pd.read_csv('STD Cases.csv')

In [2]:
#Examining the breakdown of information using .info()
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42680 entries, 0 to 42679
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          42680 non-null  int64
 1   Disease        42530 non-null  object
 2   Disease Code   42530 non-null  float64
 3   State          42530 non-null  object
 4   Year           42530 non-null  float64
 5   Gender         42530 non-null  object
 6   Age            42530 non-null  object
 7   Age Code       42530 non-null  object
 8   STD Cases      42530 non-null  float64
 9   Population     35483 non-null  float64
 10  Rate per 100K  35483 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 3.6+ MB

### Observation
From the breakdown above, we are able to determine that there are no null values in the dataset and that our data types correspond correctly with the dimensions that we will be observing in the rest of this analysis

In [12]:
#Taking a look at the first few rows
#Eliminating the index as it is redundant
cases.drop('index', axis=1, inplace=True)
cases.head()

,Disease,Disease Code,State,Year,Gender,Age,Age Code,STD Cases,Population,Rate per 100K
0,Chlamydia,274.0,Alabama,1996.0,Male,0-14 years,0-14,25.0,468394.0,5.34
1,Chlamydia,274.0,Alabama,1996.0,Male,15-19 years,15-19,164.0,165920.0,98.84
2,Chlamydia,274.0,Alabama,1996.0,Male,20-24 years,20-24,193.0,152848.0,126.27
3,Chlamydia,274.0,Alabama,1996.0,Male,25-29 years,25-29,88.0,152778.0,57.60
4,Chlamydia,274.0,Alabama,1996.0,Male,30-34 years,30-34,55.0,155850.0,35.29

### Initial Questions Based on Preview

- Which disease has the highest total count since 1996?
- Which disease was most common in each year?
- Which disease was most common in each state in 2022?
- In which Gender was each disease most prevalent each year?
- Which age group was affected the most by each disease in the past decade?

In [23]:
#Finding unique values for our disease column
df1["Disease"].unique()

array(['Chlamydia', 'Gonorrhea', 'Primary and Secondary Syphilis', nan],
      dtype=object)

In [22]:
# To answer the first question we only need the disease column and the Number of STD cases
df1 = cases[["Disease", "STD Cases"]]
df1.head()

     Disease  STD Cases
0  Chlamydia       25.0
1  Chlamydia      164.0
2  Chlamydia      193.0
3  Chlamydia       88.0
4  Chlamydia       55.0

In [19]:
# Grouping by diseases to do an aggregate sum
df2 = df1.groupby('Disease').sum()
print(df2)

                                 STD Cases
Disease
Chlamydia                       18991264.0
Gonorrhea                        6454097.0
Primary and Secondary Syphilis    205913.0